<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.nitindhar.kampr"
  android:versionCode="11"
  android:versionName="3.0.1" >

  <uses-sdk
    android:maxSdkVersion="16"
    android:minSdkVersion="14"
    android:targetSdkVersion="16" />

  <application
    android:icon="@drawable/redesigned_icon"
    android:label="Kampr"
    android:theme="@style/Kampr" >
    <activity
      android:name=".activity.KamprActivity"
      android:label="Kampr"
      android:theme="@android:style/Theme.NoTitleBar"
      android:windowSoftInputMode="stateVisible|adjustResize|adjustPan" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activity.PostsActivity"
      android:configChanges="keyboardHidden|orientation"
      android:theme="@style/KamprActionBar" >
    </activity>
    <activity
      android:name=".activity.UserActivity"
      android:configChanges="keyboardHidden|orientation"
      android:theme="@style/KamprActionBar" >
    </activity>
    <activity
      android:name=".activity.SnapFullscreenActivity"
      android:configChanges="keyboardHidden|orientation" >
    </activity>
    <activity
      android:name=".activity.CommentsActivity"
      android:configChanges="keyboardHidden|orientation" >
    </activity>
  </application>

  <uses-permission android:name="android.permission.INTERNET" >
  </uses-permission>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
  </uses-permission>

</manifest>